# **2nd assignment in data science**

**1. Write a Pandas program to create and display a one-dimensional array-like **
**object containing an array of data using Pandas module.**

In [13]:
import pandas as pd
# Create a one-dimensional array-like object
data = pd.Series([10, 20, 30, 40, 50])
# Display the array
print(data)

0    10
1    20
2    30
3    40
4    50
dtype: int64

**2. Write a Pandas program to convert a Panda module Series to Python list and it's type.**

In [14]:
import pandas as pd
# Create a Pandas Series
data = pd.Series([10, 20, 30, 40, 50])
# Convert the Pandas Series to a Python list
data_list = data.tolist()
# Display the converted list and its type
print("Converted List:", data_list)
print("Type of the Converted List:", type(data_list))

Converted List: [10, 20, 30, 40, 50]
Type of the Converted List: <class 'list'>

**3. Write a Pandas program to compare the elements of the two Pandas Series.**

In [15]:
import pandas as pd
# Creating two Pandas Series
series1 = pd.Series([1, 2, 3, 4, 5])
series2 = pd.Series([1, 3, 3, 4, 6])
# Comparing the elements of the two Series
comparison_result = series1 == series2
# Display the comparison result
print("Comparison Result:")
print(comparison_result)

Comparison Result:
0     True
1    False
2     True
3     True
4    False
dtype: bool

**4. Write a Pandas program to change the data type of given a column or a Series.**

In [16]:
import pandas as pd
# Creating a Pandas Series with mixed data types
data = pd.Series(['1', '2', '3', '4', '5'])
# Displaying the data type of the Series before conversion
print("Data type before conversion:")
print(data.dtype)
# Converting the data type of the Series to integer
data = data.astype(int)
# Display the data type of the Series after conversion
print("\nData type after conversion:")
print(data.dtype)

Data type before conversion:
object

Data type after conversion:
int64

**5. Write a Pandas program to get the powers of an array values element-wise.**
**Note: First array elements raised to powers from second array**
**Sample data: {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}**
# **Expected Output:**
***X Y Z***
**0 78 84 86**
**1 85 94 97**
**2 96 89 96**
**3 80 83 72**
**4 86 86 83**

In [17]:
import pandas as pd
# Sample data
data = {'X': [78, 85, 96, 80, 86],
        'Y': [84, 94, 89, 83, 86],
        'Z': [86, 97, 96, 72, 83]}
# Creating a DataFrame from the sample data
df = pd.DataFrame(data)
# Getting the powers of array values element-wise
result = df.apply(lambda x: pow(x['X'], x['Y']), axis=1)
# Adding the result as a new column to the DataFrame
df['X^Y'] = result
# Display the DataFrame
print(df)

    X   Y   Z                  X^Y
0  78  84  86                    0
1  85  94  97  4551265826121030281
2  96  89  96                    0
3  80  83  72                    0
4  86  86  83                    0

**6. Write a Pandas program to get the first 3 rows of a given DataFrame.**
**Sample Python dictionary data and list labels:**
**exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily'**, **'Michael', **
**'Matthew', 'Laura', 'Kevin', 'Jonas'],**
**'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],**
**'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],**
**'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}**
**labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']**
**Expected Output:**
**First three rows of the data frame:**
**attempts name qualify score**
**a 1 Anastasia yes 12.5**
**b 3 Dima no 9.0**
**c 2 Katherine yes 16.5**

In [22]:
import pandas as pd
import numpy as np
# Sample data
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
             }
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
# Creating DataFrame
df = pd.DataFrame(exam_data, index=labels)
# Getting the first three rows of the DataFrame
first_three_rows = df.head(3)
# Display the result
print("First three rows of the data frame:")
print(first_three_rows)

First three rows of the data frame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

**7. Write a Pandas program to display the default index and set a column as an**
**Index in a given dataframe.**

In [1]:
import pandas as pd
# Sample data
data = {
    'Street': ['Street1', 'Street2', 'Street3', 'Street4', 'Street5', 'Street6'],
    'ID': ['S001', 'S002', 'S003', 'S004', 'S005', 'S006'],
    'Class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'first_name': ['Alberto', 'Gino', 'Ryan', 'Eesha', 'Gino', 'David'],
    'last_name': ['Franco', 'Mcneill', 'Parkes', 'Hinton', 'Mcneill', 'Parkes'],
    'DOB': ['15/05/2002', '17/05/2002', '16/02/1999', '25/09/1998', '11/05/2002', '15/09/1997'],
    'Age': [35, 32, 33, 30, 31, 32]
                 }
# Creating DataFrame
df = pd.DataFrame(data)
# Displaying the default index
print("Default Index:")
print(df)
# Setting 'ID' column as index
df.set_index('ID', inplace=True)
# Display the DataFrame with 'ID' column as index
print("\n DataFrame with 'ID' column as Index:")
print("\n")
print(df)

Default Index:
    Street    ID Class first_name last_name         DOB  Age
0  Street1  S001     V    Alberto    Franco  15/05/2002   35
1  Street2  S002     V       Gino   Mcneill  17/05/2002   32
2  Street3  S003    VI       Ryan    Parkes  16/02/1999   33
3  Street4  S004    VI      Eesha    Hinton  25/09/1998   30
4  Street5  S005     V       Gino   Mcneill  11/05/2002   31
5  Street6  S006    VI      David    Parkes  15/09/1997   32

 DataFrame with 'ID' column as Index:


       Street Class first_name last_name         DOB  Age
ID
S001  Street1     V    Alberto    Franco  15/05/2002   35
S002  Street2     V       Gino   Mcneill  17/05/2002   32
S003  Street3    VI       Ryan    Parkes  16/02/1999   33
S004  Street4    VI      Eesha    Hinton  25/09/1998   30
S005  Street5     V       Gino   Mcneill  11/05/2002   31
S006  Street6    VI      David    Parkes  15/09/1997   32

**8. Write a Pandas program to display the default index and set a column as an **
**Index in a given dataframe and then reset the index**

In [2]:
import pandas as pd

# Sample data
data = {
    'Street': ['Street1', 'Street2', 'Street3', 'Street4', 'Street5', 'Street6'],
    'ID': ['S001', 'S002', 'S003', 'S004', 'S005', 'S006'],
    'Class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'first_name': ['Alberto', 'Gino', 'Ryan', 'Eesha', 'Gino', 'David'],
    'last_name': ['Franco', 'Mcneill', 'Parkes', 'Hinton', 'Mcneill', 'Parkes'],
    'DOB': ['15/05/2002', '17/05/2002', '16/02/1999', '25/09/1998', '11/05/2002', '15/09/1997'],
    'Age': [35, 32, 33, 30, 31, 32]
}
# Creating DataFrame
df = pd.DataFrame(data)
# Displaying the default index
print("Default Index:")
print(df)
# Setting 'ID' column as index
df.set_index('ID', inplace=True)
# Displaying the DataFrame with 'ID' column as index
print("\nDataFrame with 'ID' column as Index:")
print("\n")
print(df)
# Resetting the index
df.reset_index(inplace=True)
# Displaying the DataFrame after resetting the index
print("\nDataFrame after resetting the index:")
print("\n")
print(df)

Default Index:
    Street    ID Class first_name last_name         DOB  Age
0  Street1  S001     V    Alberto    Franco  15/05/2002   35
1  Street2  S002     V       Gino   Mcneill  17/05/2002   32
2  Street3  S003    VI       Ryan    Parkes  16/02/1999   33
3  Street4  S004    VI      Eesha    Hinton  25/09/1998   30
4  Street5  S005     V       Gino   Mcneill  11/05/2002   31
5  Street6  S006    VI      David    Parkes  15/09/1997   32

DataFrame with 'ID' column as Index:


       Street Class first_name last_name         DOB  Age
ID
S001  Street1     V    Alberto    Franco  15/05/2002   35
S002  Street2     V       Gino   Mcneill  17/05/2002   32
S003  Street3    VI       Ryan    Parkes  16/02/1999   33
S004  Street4    VI      Eesha    Hinton  25/09/1998   30
S005  Street5     V       Gino   Mcneill  11/05/2002   31
S006  Street6    VI      David    Parkes  15/09/1997   32

DataFrame after resetting the index:


     ID   Street Class first_name last_name         DOB  Age
0  S001  Street1     V    Alberto    Franco  15/05/2002   35
1  S002  Street2     V       Gino   Mcneill  17/05/2002   32
2  S003  Street3    VI       Ryan    Parkes  16/02/1999   33
3  S004  Street4    VI      Eesha    Hinton  25/09/1998   30
4  S005  Street5     V       Gino   Mcneill  11/05/2002   31
5  S006  Street6    VI      David    Parkes  15/09/1997   32

**9. Write a Pandas program to create a dataframe indexing by date and time.**

In [6]:
import pandas as pd
# Sample data
data = {
    'Street': ['Streat1', 'Streat2', 'Streat3', 'Streat4', 'Streat5', 'Streat6'],
    'ID': ['S001', 'S002', 'S003', 'S004', 'S005', 'S006'],
    'Class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'first_name': ['Alberto', 'Gino', 'Ryan', 'Eesha', 'Gino', 'David'],
    'last_name': ['Franco', 'Mcneill', 'Parkes', 'Hinton', 'Mcneill', 'Parkes'],
    'DOB': ['15/05/2002', '17/05/2002', '16/02/1999', '25/09/1998', '11/05/2002', '15/09/1997'],
    'Age': [35, 32, 33, 30, 31, 32]
                     }
# Creating DataFrame
df = pd.DataFrame(data)
# Converting 'DOB' column to datetime format
df['DOB'] = pd.to_datetime(df['DOB'])
# Setting 'DOB' column as the index
df.set_index('DOB', inplace=True)
# Displaying the DataFrame indexing by date and time
print("DataFrame indexing by date and time:")
print("\n")
print(df)
print("\n")

DataFrame indexing by date and time:


             Street    ID Class first_name last_name  Age
DOB
2002-05-15  Streat1  S001     V    Alberto    Franco   35
2002-05-17  Streat2  S002     V       Gino   Mcneill   32
1999-02-16  Streat3  S003    VI       Ryan    Parkes   33
1998-09-25  Streat4  S004    VI      Eesha    Hinton   30
2002-05-11  Streat5  S005     V       Gino   Mcneill   31
1997-09-15  Streat6  S006    VI      David    Parkes   32

C:\Users\Disney\AppData\Local\Temp\ipykernel_5748\3037782407.py:15: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['DOB'] = pd.to_datetime(df['DOB'])

**10. Write a Pandas program to create a dataframe and set a title or name of the**
**index column.**

In [28]:
import pandas as pd
# Test Data
data = {
    'Street': ['Streat1', 'Streat2', 'Streat3', 'Streat4', 'Streat5', 'Streat6'],
    'ID': ['S001', 'S002', 'S003', 'S004', 'S005', 'S006'],
    'Class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'first_name': ['Alberto', 'Gino', 'Ryan', 'Eesha', 'Gino', 'David'],
    'last_name': ['Franco', 'Mcneill', 'Parkes', 'Hinton', 'Mcneill', 'Parkes'],
    'DOB': ['15/05/2002', '17/05/2002', '16/02/1999', '25/09/1998', '11/05/2002', '15/09/1997'],
    'Age': [35, 32, 33, 30, 31, 32]
                   }
# Creating DataFrame
df = pd.DataFrame(data)
# Setting a title or name for the index column
df.index.name = 'Index_Column'
# Displaying the DataFrame
print(df)

               Street    ID Class first_name last_name         DOB  Age
Index_Column
0             Streat1  S001     V    Alberto    Franco  15/05/2002   35
1             Streat2  S002     V       Gino   Mcneill  17/05/2002   32
2             Streat3  S003    VI       Ryan    Parkes  16/02/1999   33
3             Streat4  S004    VI      Eesha    Hinton  25/09/1998   30
4             Streat5  S005     V       Gino   Mcneill  11/05/2002   31
5             Streat6  S006    VI      David    Parkes  15/09/1997   32

**11. Write a Pandas program to select a specific row of given series/dataframe** **by integer index.**

In [7]:
import pandas as pd
# Test Data
data = {
    'Street': ['Streat1', 'Streat2', 'Streat3', 'Streat4', 'Streat5', 'Streat6'],
    'ID': ['S001', 'S002', 'S003', 'S004', 'S005', 'S006'],
    'Class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'first_name': ['Alberto', 'Gino', 'Ryan', 'Eesha', 'Gino', 'David'],
    'last_name': ['Franco', 'Mcneill', 'Parkes', 'Hinton', 'Mcneill', 'Parkes'],
    'DOB': ['15/05/2002', '17/05/2002', '16/02/1999', '25/09/1998', '11/05/2002', '15/09/1997'],
    'Age': [35, 32, 33, 30, 31, 32]
                     }
# Creating DataFrame
df = pd.DataFrame(data)
# Selecting a specific row by integer index
specific_row = df.iloc[2]  # Selecting the third row (index starts from 0)
# Displaying the selected row
print("Selected Row:")
print("\n")
print(specific_row)

Selected Row:


Street           Streat3
ID                  S003
Class                 VI
first_name          Ryan
last_name         Parkes
DOB           16/02/1999
Age                   33
Name: 2, dtype: object